* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/* common  */
body {
    width: 60%;
    font-family: Montserrat, sans-serif;
}

.topbar{
    width: 100%;

}

aside  {
    width: calc(100%/5);
    margin-top: 10px;

}

.content {
    width: calc((100%/5)*3 - 20px);
    margin: 10px;
    

}
.topbar ,
aside ,
.content {
    float: left;
    background-color: lightblue;
    padding: 10px;

}

.box{
    border-radius: 5px;
    
}

/* /common */

/* header */
header {
    height: 100px;
    /* background-color: fuchsia; */
    /* margin: 0 auto; */
    margin-bottom: 30px;
}

.link > li,a {
    display: inline;
    padding-right: 10px;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;

}

#logo {
    height: 70px;
    padding: 10px;
    margin-bottom: 30px;
    border-right: 1px solid gray;
}

.top{
    height: 200px;
}
/* /header */

/* footer */
footer{
    height: 50px;
    background-color: purple;
    margin: 15px auto;
}
/* /footer */

/* main */

.main{
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
}

#banner{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    object-fit: cover;

}

/* /main */

/* float */


.container {
    width: 100%;
    margin: 0 auto;
    background-color: blue;
}
 
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* /float              */